<h1> Your Favorite Rick & Morty Characters</h1>
<div class='characters'>
    <div>
        <%favorites.map(favoriteChar=>{%>
            <li>
            <img src="<%= favoriteChar.image %>" width=300>
                <br>
            Name: <%=favoriteChar.name %>
            <br>
                Character's Id: <%=favoriteChar.id %>
            <br>
            Location:<%=favoriteChar.location %>
                <form method="POST" action="/characters/<%=favoriteChar.id%>/?_method=DELETE">
                    <input type="submit" value="Delete Character">  
                </form>
    </div>
        <div>
            <form action="/notes" method="POST">
                <div class="form-group">
                <label for="notes">Write a note</label>
                <textarea name="character-note"></textarea>
                <input type="hidden" name="characterId" value="<%=favoriteChar.id%>">
                <input type="submit" class="btn btn-primary">
        </div>
    </li>
<%})%>
</div>